*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.global-div {
    margin: 150px;
    padding: 50px;
    width: 500px;
    height: 450px;
    border: 1px solid rgb(82, 82, 214);
    border-radius: 15px;
    position: relative;
}

.input-area {
    position: absolute;
    top: 20px;
    left: 130px;
}

input {
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid rgb(82, 82, 214);
    font-size: 1rem;
}

button {
    font-family: inherit;
    padding: 15px 10px;
    border: 1px solid rgb(82, 82, 214);
    border-radius: 15px;
    background-color: rgb(82, 82, 214);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(82, 82, 214);
    border: 1px solid rgb(82, 82, 214);
}

.upper-div, .sun-div, .more-info-div {
    font-size: 1.4rem;
}

.upper-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 20px;
}

.temp-div {
    font-size: 3rem;
}

.sun-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.sun-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.more-info-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.single-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-night-style {
    color: white;
    background-color: rgb(2, 2, 73);
}

.body-night-style {
    color: white;
    background-color: rgb(2, 2, 31);
}

.city-day-style {
    color: white;
    background-color: rgba(84, 84, 234, 0.808);
    box-shadow: 3px 5px 5px grey;
}

.body-day-style {
    color: white;
    background-color: lightblue;
}

.upper-div img {
    max-width: 150px;
}

.more-info-div img, .sun-div img {
    width: 40px;
}